img {
display: none;
}

.walrus-showing {
  display: none;
}

p {
cursor: pointer;
color: #0088cc;
}

p:hover {
text-decoration: underline;
}


    .clickable {
      cursor: pointer;
      color: red;
    }

    .clickable:hover {
      text-decoration: underline;

    }

    #walrus-showing {
       display: none;
     }
